Package: com.muirey03.libimagepicker
Name: libimagepicker
Depends:
Version: 1.0.1
Architecture: iphoneos-arm
Description: A simple library for choosing images in preference bundles.
Maintainer: Muirey03
Author: Muirey03
Section: System
Tag: role::developer
